


{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
</head>
<body>
    <div class="inner">
        <div class="outer">
            <div class="nav">
                <div class="left">
                    <h1>MyLogo</h1>
                </div>
                <div class="right">
                    <a href="signup" id='btn'>Signup</a>
                    <a href="login" id='btn'>Login</a>
                    <!-- <button><a href="document">Document</a></button> -->
                </div>
                <div class="middle">
                    <a href="home" id='btn'>Home
                        <div class="drop">
                            <a href=""><li>Home</li></a>
                            <a href=""><li>About</li></a>
                            <a href=""><li>Document</li></a>
                        </div>
                    </a>
                    <a href="about" id='btn'>About
                        <div class="drop">
                            <a href=""><li>Home</li></a>
                            <a href=""><li>About</li></a>
                            <a href=""><li>Document</li></a>
                        </div>
                    </a>
                    <a href="Document" id='btn'>Document
                        <div class="drop">
                            <a href=""><li>Photo</li></a>
                            <a href=""><li>Resume</li></a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main">
                <h1>Welcome to My Website</h1>
                <p>be the King of Django</p>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>